# Compressed data files
*.bz2

# Raw data
data/raw/

# Processed data (too large for GitHub)
data/tiles/

# Exported anomaly images
zoon_imgs/

# Python
__pycache__/
*.pyc

# Virtual environment
venv/
